{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
  <div>
    <form action="" method="post" novalidate>{% csrf_token %}
      <div>
        <div>
          <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
          {{ form.name }}
        </div>
        <div>
          <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
          {{ form.description }}
        </div>
      </div>
      <div>
        <input type="submit" value="Zapisz">
      </div>
    </form>
  </div>
{% endblock %}
