{% extends 'base.html' %}

{% block content %}
    {% if username %}
    <h1>Witaj {{ username }}</h1>
    {% endif %}
    <div>
        {% if username %}
            <form action="{% url 'encounters:logout' %}">
            <input type="submit" value="Wyloguj się" />
        </form>
        {% else %}
            <form action="{% url 'encounters:register' %}">
                <input type="submit" value="Zarejestruj się" />
            </form>
            <form action="{% url 'encounters:login' %}">
                <input type="submit" value="Zaloguj się" />
            </form>
        {% endif %}
        ----------------------------------------------
        {% if username == "ADMIN" %}
            <h3>Dodaj elementy potyczki</h3>
            <form action="{% url 'encounters:terrain_form' %}">
                <input type="submit" value="Dodaj Teren" />
            </form>
            <form action="{% url 'encounters:location_form' %}">
                <input type="submit" value="Dodaj Lokację" />
            </form>
            <form action="{% url 'encounters:treasure_form' %}">
                <input type="submit" value="Dodaj Skarb" />
            </form>
            <form action="{% url 'encounters:trap_form' %}">
                <input type="submit" value="Dodaj Pułapkę" />
            </form>
            <form action="{% url 'encounters:race_form' %}">
                <input type="submit" value="Dodaj Rasę" />
            </form>
            <form action="{% url 'encounters:monster_form' %}">
                <input type="submit" value="Dodaj Potwora" />
            </form>
            ----------------------------------------------
            <h3>Usuń elementy potyczki</h3>
            <form action="{% url 'encounters:delete_terrain' %}">
                <input type="submit" value="Usuń Teren" />
            </form>
            <form action="{% url 'encounters:delete_location' %}">
                <input type="submit" value="Usuń Lokację" />
            </form>
            <form action="{% url 'encounters:delete_treasure' %}">
                <input type="submit" value="Usuń Skarb" />
            </form>
            <form action="{% url 'encounters:delete_trap' %}">
                <input type="submit" value="Usuń Pułapkę" />
            </form>
            <form action="{% url 'encounters:delete_race' %}">
                <input type="submit" value="Usuń Rasę" />
            </form>
            <form action="{% url 'encounters:delete_monster' %}">
                <input type="submit" value="Usuń Potwora" />
            </form>
            ----------------------------------------------
        {% endif %}
        <h3>Zobacz elementy potyczki</h3>
        <form action="{% url 'encounters:terrain_table' %}">
            <input type="submit" value="Pokaż Tereny" />
        </form>

        <form action="{% url 'encounters:location_table' %}">
            <input type="submit" value="Pokaż Lokacje" />
        </form>

        <form action="{% url 'encounters:treasure_table' %}">
            <input type="submit" value="Pokaż Skarby" />
        </form>

        <form action="{% url 'encounters:trap_table' %}">
            <input type="submit" value="Pokaż Pułapki" />
        </form>

        <form action="{% url 'encounters:race_table' %}">
            <input type="submit" value="Pokaż Rasy" />
        </form>

        <form action="{% url 'encounters:monster_table' %}">
            <input type="submit" value="Pokaż Potwory" />
        </form>

    {% if username %}
        ----------------------------------------------
        <h3>Zarządzaj swoimi potyczkami</h3>
        <form action="{% url 'encounters:encounter_form' %}">
            <input type="submit" value="Dodaj Potyczkę" />
        </form>
        <form action="{% url 'encounters:filter_encounter' %}">
            <input type="submit" value="Pokaż Potyczki" />
        </form>
        <form action="{% url 'encounters:delete_encounter' %}">
            <input type="submit" value="Usuń Potyczkę" />
        </form>
    {% endif %}
    </div>
{% endblock %}